/* QuizComponent.css */
.quiz-container {
  padding: 20px;
  max-width: 700px;
  margin: 40px auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
}

.quiz-question {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
  font-weight: bold;
  animation: slideInDown 1s ease-out;
}

.quiz-form {
  display: flex;
  flex-direction: column;
}

.quiz-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
  animation: fadeInUp 1s ease-out;
}

.quiz-option-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  animation: zoomIn 0.5s ease-in-out;
}

.quiz-option-label:nth-child(1) {
  background-color: #ffcccc;
}

.quiz-option-label:nth-child(2) {
  background-color: #ccffcc;
}

.quiz-option-label:nth-child(3) {
  background-color: #ccccff;
}

.quiz-option-label:nth-child(4) {
  background-color: #ffccff;
}

.quiz-option-label:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.quiz-radio-input {
  display: none; /* 라디오 버튼 숨기기 */
}

.quiz-radio-input + span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
}

.quiz-radio-input:checked + span::after {
  content: "✔"; /* 체크 표시 */
  color: #fff;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quiz-text-input {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quiz-submit-button {
  padding: 15px 25px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  animation: bounceIn 1s;
}

.quiz-submit-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

/* 애니메이션 효과 추가 */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes bounceIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
