<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dev.forest.board.model.mapper.BoardMapper">

<sql id="boardSaveColumn"> 
	INSERT 
	  INTO 
	  	   TB_BOARD 
	  	   (
			BOARD_NO,
			USER_NO,
			BOARD_TITLE,
			BOARD_CONTENT,
			BOARD_FILE_URL,
			BOARD_TYPE
		   )
	VALUES 
		   (
		   SEQ_BNO.NEXTVAL, 
		   #{boardWriter},
		   #{boardTitle}, 
		   #{boardContent},
		   #{boardFileUrl},
</sql>

<insert id="saveBasic">
	<include refid="boardSaveColumn"/>
	1 
	)
</insert>

<insert id="saveNotice">
	<include refid="boardSaveColumn"/>
	2
	)
</insert>

<insert id="saveInfo">
	<include refid="boardSaveColumn"/>
	3
	)
</insert>

<sql id="boardColumn"> 
	SELECT 
		   BOARD_NO boardNo, 
		   BOARD_TITLE boardTitle,
		   BOARD_CONTNET boardContent,
		   BOARD_TYPE boardType, 
		   M.NICKNAME,
		   BOARD_FILE_URL
</sql>

<select id="findByAll" resultType="BoardDTO">
<include refid="boardColumn"/>
			,COUNT
	  FROM 
	  	    TB_BOARD 
	  JOIN 
	  		TB_MEMBER M ON(BOARD_WRITER = USER_NO) 
	 ORDER 
		BY
			BOARD_NO DESC
</select>

<select id="findById" parameterType="long" resultType="BoardDTO">
<include refid="boardColumn"/>
	  FROM 
	  		TB_BOARD 
	  JOIN 
	  		TB_MEMBER M ON(BOARD_WRITER = USER_NO) 
	 WHERE 
	 		BOARD_NO = #{boardNo}
</select>

<update id="update" parameterType="BoardDTO">
	 UPDATE 
	 		 TB_BOARD 
	 	SET 
	 		 BOARD_TITLE = #{boardTitle}, 
	 		 BOARD_CONTENT = #{boardContent}
	  WHERE 
	  		 STATUS = 'Y'
	    AND
	  		 BOARD_NO = #{boardNo}
</update>

<update id="delete" parameterType="BoardDTO">
	UPDATE
		   TB_BOARD
	   SET
	   	   STATUS = 'N'
	 WHERE
		   STATUS = 'Y'
	   AND
	  	   BOARD_NO = #{boardNo}
</update>

<sql id="searchColumn">
	FROM
	  	   TB_BOARD
	  JOIN
	  	   TB_MEMBER M ON(BOARD_WRITER = USER_NO)
	 WHERE
	 	   STATUS = 'Y'
	 <if test="condition = 'writer'">
	 	AND
	 	    M.NICKNAME
	 </if>
	 <if test="condition = 'title'">
	 	AND
	 		BOARD_TITLE
	 </if>
	 <if test="condition = 'content'">
	 	AND
	 		BOARD_CONTENT
	 </if>
	 LIKE '%' || #{keyword} || '%'
</sql>

<select id="searchCount">
	SELECT
		   COUNT(*)
	  <include refid="searchColumn" />
</select>

<select id="search">
	<include refid="boardColumn"/>
	<include refid="searchColumn"/>
	ORDER
	   BY
	   	  BOARD_NO DESC
</select>

</mapper>