<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dev.forest.member.model.mapper.MemberMapper">
	
	<insert id="saveMember" parameterType="MemberDTO">
		INSERT 
		  INTO 
		       TB_MEMBER 
		       (
				USER_NO, 
				SIGN_UP,
				USER_ID, 
				USER_PWD, 
				NICKNAME
			   ) 
	     VALUES 
			   (
				SEQ_USER_NO.NEXTVAL, 
				#{signUp},
				#{userId}, 
				#{userPwd}, 
				#{nickname}
			   ) 
	</insert>
	
	<insert id="saveSnsMember" parameterType="SnsMemberDTO">
		INSERT 
		  INTO 
		       TB_MEMBER 
		       (
				USER_NO, 
				SIGN_UP,
				SNS_ID,
				NICKNAME
			   ) 
	     VALUES 
			   (
				SEQ_USER_NO.NEXTVAL, 
				#{signUp},
				#{snsId},
				#{nickname}
			   ) 
	</insert>
	
	<select id="findByUserId" parameterType="String" resultType="MemberDTO">
		SELECT 
		       USER_NO userNo,
		       SIGN_UP signUp,
		       USER_ID userId,
		       USER_PWD userPwd,
		       NICKNAME nickname,
		       ROLE role,
		       ENROLL_DATE enrollDate,
		       UPDATE_DATE updateDate,
		       STATUS status
		  FROM 
		       TB_MEMBER
		 WHERE 
		       USER_ID = #{userId}
	</select>
	
	<select id="findBySnsId" parameterType="SnsMemberDTO" resultType="SnsMemberDTO">
		SELECT 
		       USER_NO userNo,
		       SIGN_UP signUp,
		       SNS_ID snsId,
		       NICKNAME nickname,
		       ROLE role,
		       ENROLL_DATE enrollDate,
		       UPDATE_DATE updateDate,
		       STATUS status
		  FROM 
		       TB_MEMBER
		 WHERE 
		       SNS_ID = #{snsId}
	</select>
	
	<select id="findByNickname" parameterType="String">
		SELECT 
		       USER_NO userNo,
		       SIGN_UP signUp,
		       USER_ID userId,
		       USER_PWD userPwd,
		       NICKNAME nickname,
		       ROLE role,
		       ENROLL_DATE enrollDate,
		       UPDATE_DATE updateDate,
		       STATUS status
		  FROM 
		       TB_MEMBER
		 WHERE 
		       NICKNAME = #{nickname}
	</select>
	
	<select id="findByNicknameSns" parameterType="String">
		SELECT 
		       USER_NO userNo,
		       SIGN_UP signUp,
		       SNS_ID snsId,
		       NICKNAME nickname,
		       ROLE role,
		       ENROLL_DATE enrollDate,
		       UPDATE_DATE updateDate,
		       STATUS status
		  FROM 
		       TB_MEMBER
		 WHERE 
		       NICKNAME = #{nickname}
	</select>
	
	<update id="update" parameterType="ChangePwdDTO">
		UPDATE 
		       TB_MEMBER 
		   SET 
		       USER_PWD = #{newPwd} 
		 WHERE 
		       USER_NO = #{userNo}
	</update>
	
	<update id="delete" parameterType="long">
		UPDATE 
		       TB_MEMBER 
		   SET 
		       STATUS = 'N' 
		 WHERE 
		       USER_NO = #{userNo}
	</update>
	
	<select id="findInfoByUserNo" resultType="MyPageDTO">
		SELECT
		       userNo, 
		       signUp, 
		       snsId, 
		       userId, 
		       userPwd, 
		       nickname, 
		       role, 
		       status, 
		       correctCount, 
		       wrongCount, 
		       correctCount + wrongCount totalCount
		  FROM 
		       (
				SELECT 
   			           USER_NO userNo,
			           SIGN_UP signUp,
			           SNS_ID snsId,
			           USER_ID userId,
			           USER_PWD userPwd,
			           NICKNAME nickname,
			           ROLE role,
			           STATUS status,
			           (
						SELECT 
						       SUM(CORRECT_COUNT)
						  FROM 
						       TB_RANKING 
						 WHERE 
						       USER_NO = #{userNo}
					   ) correctCount ,
					   (
						SELECT 
						       SUM(WRONG_COUNT)  
						  FROM 
						       TB_RANKING 
						 WHERE 
						       USER_NO = #{userNo}
					   ) wrongCount
			      FROM 
			           TB_MEMBER
			     WHERE
			           USER_NO = #{userNo}
		        )
	</select>
	
	
	
</mapper>

