<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.dev.forest.quiz.model.mapper.QuizMapper">
  
  <sql id="quizColumn">
  	
  </sql>
  
  <select id="findAll" resultType="QuizDTO">
  	SELECT
  			QUIZ_NO quizNo,
  			QUESTION question,
  			CATEGORY category,
  			QUESTION_TYPE questionType,
  			ANSWER answer,
  			EXPLANATION explanation
  	  FROM
  	  		TB_QUIZ
  	 ORDER
  	    BY
  	    	QUIZ_NO DESC
  </select>
  
	<select id="findById" resultType="QuizDTO">
	  	SELECT
	  			QUIZ_NO quizNo,
	  			QUESTION question,
	  			CATEGORY category,
	  			QUESTION_TYPE questionType,
	  			ANSWER answer,
	  			EXPLANATION explanation
	  	  FROM
	  	  		TB_QUIZ
	  	 WHERE
	  	 		QUIZ_NO = #{quizNo}
	  </select>
  
	 <select id="findByCategory" resultType="QuizDTO">
  	SELECT
  			QUIZ_NO quizNo,
  			QUESTION question,
  			CATEGORY category,
  			QUESTION_TYPE questionType,
  			ANSWER answer,
  			EXPLANATION explanation
  	  FROM
  	  		TB_QUIZ
  	 WHERE
  	 		CATEGORY = #{category}
  	 ORDER
  	    BY
  	    	QUIZ_NO DESC
  </select>
  
  <select id="findByRandomNo" resultType="QuizDTO">
  	SELECT
  			QUIZ_NO quizNo,
  			QUESTION question,
  			CATEGORY category,
  			QUESTION_TYPE questionType,
  			ANSWER answer,
  			EXPLANATION explanation
  	  FROM
  	  		TB_QUIZ
  	 WHERE
  	 		QUIZ_NO = #{quizNo}
  </select>
  
  <select id="selectTotalCount" resultType="int">
		SELECT
				COUNT(*)
		  FROM
		  		TB_QUIZ
	</select>
  
  
  
  
  
  </mapper>